<div class="wrapper" >
  <form class='navbar-form'>
    <div class="typewriter space">
      <h1 class="fontStyle">Best place to buy your house, sell your car or find a job.</h1>
    </div>
    <div class='input-group searchBox animate__animated animate__backInRight animate__delay-2s"' >
      <input class='form-control searchHeight' type='text' name='search' placeholder='What are you looking for '  />
      <span class="input-group-btn">
        <button type='submit' class='btn btn-default searchHeight' style="    background-color: cadetblue;        ">
          <span class='glyphicon glyphicon-search'></span>
        </button>
      </span>
    </div>
  </form>
</div>
