<div>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">YOSR</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active" style="font-size: 20px;"><a href="#"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
        <li> <a href="#"  style="font-size: 20px;"><i class="fa fa-university" aria-hidden="true"></i>Auctions</a></li>
        <li><a href="#" style="font-size: 20px;"><i class="fa fa-qrcode" aria-hidden="true"></i> My QR Codes</a></li>
        <li><a href="#" style="font-size: 20px;" ><i class="fa fa-bell-o" aria-hidden="true"  class="fontSize"></i>Notifications</a></li>
        <li><a href="#" style="font-size: 20px;"><i class="fa fa-heart" aria-hidden="true"></i> Favorites</a></li>
        <li><a href="#" style="font-size: 20px;"><i class="fa fa-comment-o" aria-hidden="true"></i> Chat</a></li>
        <li><a href="#" style="font-size: 20px;"><i class="fa fa-user" aria-hidden="true"></i>Account</a></li>
      </ul>
     
      <div class="wrapper">
       <span class="font-color">English | عربي</span> 
      <button type="submit" class="buttonStyle">New Publication</button>
      </div>
    </div>
  </nav>

</div>